html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.rbc-agenda-table {
  color: #fff;
}

.rbc-agenda-table th {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.rs-picker-popup.rs-picker-popup-daterange {
  z-index: 9999;
}

.MuiTable-root td p {
  font-size: inherit;
}

.MuiTable-root th h6 {
  font-size: 0.90rem;
}